@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|ZCOOL+XiaoWei&display=swap');

.outer{
	background-color: #FFFACD;
	position:relative;
}

.header{
	height: 60px;
	background-color:  #cb8034;
	position: relative;
}

.headerText{
	color: white;
	position: absolute;
	top: 15px;
	left: 10px;
	align-items: center;

	font-family: ZCOOL XiaoWei;
	font-size: 18px;
	font-weight: bold;
}

.mainTextBody{
	position: relative;
}

.mainSection{
	width: 300px;
	height: 600px;
	margin: 70px 50px;
	padding: 10px 10px;
	position:relative;

	display:inline-block;

	border: 5px solid #cc0000;
	box-sizing: border-box;
	border-radius: 30px;
}

.recipe{
	position: relative;
}

.heading{
	font-family: ZCOOL XiaoWei;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	color: #cc0000;
}

.ingridients, .directions, .nutrition{
	font-size: 15px;
	font-family: Nanum Gothic;
}

.footer{
	height: 60px;
	background-color:  #cb8034;
	position: relative;
}

.copyright{
	color: white;
	display: inline-block;
	position: relative;
	top:20px;
	left:20px;

	font-size: 20px;

}

